@model Sts.Models.Auth.LoginModel

<h1>Login</h1>

<form asp-action="LoginPost" method="POST">
    <input type="hidden" asp-for="ReturnUrl" />
    Username: <input type="text" asp-for="Username" />
    <br/>
    Password: <input type="text" asp-for="Password" />
    <br/>
    <input type="submit" value="Login" />
</form>