@model Sts.Models.Auth.TwoFactorModel

<h1>@Model.ProviderTitle</h1>

<p>@Model.ProviderInstructions</p>

<form asp-action="TwoFactorPost" method="POST">
    <input type="hidden" asp-for="ReturnUrl" />
    <input type="hidden" asp-for="Provider" />

    Code: <input type="text" name="@nameof(Model.Code)" value="@Model.Code" />
    <br/>
    <input type="submit" value="Login" />
</form>