﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STS</title>
</head>
<body>
    <div>
        [<a asp-action="Index" asp-controller="Home">Home</a>]
        [<a asp-action="Index" asp-controller="Account">Account</a>]
        -
        [@User.Identity.Name <small><a asp-action="Logout" asp-controller="Auth">Logout</a></small>]
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
