<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STS</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
