@model Sts.Models.Account.ChangePasswordModel

<h1>Change Password</h1>

<form method="post" asp-action="ChangePassword" asp-controller="Account">
    Current Password: <input type="text" name="@nameof(Model.CurrentPassword)" value="@Model.CurrentPassword" />
    <br />
    New Password: <input type="text" name="@nameof(Model.NewPassword1)" value="@Model.NewPassword1" />
    <br/>
    Repeat New Password: <input type="text" name="@nameof(Model.NewPassword2)" value="@Model.NewPassword2" />
    <br/>
    <input type="submit" value="Update" />
</form>
