<h1>Disable Two Factor</h1>
<p>To disable two factor, please provide your two factor code now.</p>
<form method="post">
    Code: <input type="text" name="Code" />
    <br/>
    <input type="submit" value="Disable" />
</form>