<h1>Enable Constant Two Factor</h1>
<p>You have chosen to setup CONSTANT two factor authentication.</p>
<p>The constant code is "CONSTANT". Please type that below to confirm.</p>
<form method="post">
    Code: <input type="text" name="Code" />
    <br/>
    <input type="submit" value="Enable" />
</form>