<h1>Enable Yubikey Two Factor</h1>
<p>Put in a Yubikey OTP to enable this for two factor authentication.</p>
<form method="post">
    Code: <input type="text" name="Code" />
    <br/>
    <input type="submit" value="Enable" />
</form>