<h1>Enable Two Factor</h1>

<p>Which form of two factor authentication would like you like to use?</p>

<ul>
    <li><a asp-action="EnableConstant">Constant</a></li>
    <li><a asp-action="EnableYubikey">Yubikey OTP</a></li>
</ul>
