@model Sts.Models.Account.IndexModel

<h1>Account Management</h1>

<h2>Change Password</h2>
Change your password <a asp-action="ChangePassword" asp-controller="Account">here</a>.

<h2>Enabled Two Factor Authentication</h2>
@if(string.IsNullOrEmpty(Model.TwoFactorProvider))
{
    <p>Enable two factor authentication <a asp-action="EnableTwoFactor" asp-controller="Account">here</a></p>
}
else
{
    <p>You are currently usering '@Model.TwoFactorProvider' as your two factor authentication. Click <a asp-action="DisableTwoFactor">here</a> to disable two factor authentication.</p>
}

